@media only screen and (min-width: 0px) {
    .contentTopBar
    {
        height: 30px;
    }
    .contentTopBarMiddle
    {
       width: 40px;
    }
    .contentBottomBar{
        height: 3%;
    }
    .contentWrapper{
        /* width: 85%; */
    }
    .contentBottomButton
    {
        width: 50px;
    }
}
@media only screen and (min-width: 270px) {
    .contentTopBar
    {
        height: 40px;
    }
    .contentTopBarMiddle
    {
       width: 50px;
    }
    .contentBottomBar{
        height: 3.5%;
    }
    .contentWrapper{
        /* width: 87.5%; */
    }
    .contentBottomButton
    {
        width: 75px;
    }
}
@media only screen and (min-width: 480px) {
    .contentTopBar
    {
        height: 50px;
    }
    .contentTopBarMiddle
    {
       width: 60px;
    }
    .contentBottomBar{
        height: 4%;
    }
    .contentWrapper{
        /* width: 90%; */
    }
    .contentBottomButton
    {
        width: 100px;
    }
}
@media only screen and (min-width: 768px) {
    .contentTopBar
    {
        height: 60px;
    }
    .contentTopBarMiddle
    {
       width: 70px;
    }
    .contentBottomBar{
        height: 4.5%;
    }
    .contentWrapper{
        /* width: 92.5%; */
    }
    .contentBottomButton
    {
        width: 125px;
    }
}
@media only screen and (min-width: 1250px) {
    .contentTopBar
    {
        height: 70px;
    }
    .contentTopBarMiddle
    {
       width: 80px;
    }
    .contentBottomBar{
        height: 5%;
    }
    .contentWrapper{
        /* width: 95%; */
    }
    .contentBottomButton
    {
        width: 150px;
    }
}