@media only screen and (min-width: 270px) {
    #homeTitleText {
        font-size: 3.5rem;
    }
    #homeTitleDiv {
        height: 45%;
    }
    #homeSubInfo {
        font-size: 1.1rem;
    }

    #aboutLeftInfoDiv p {
        font-size: 0.7rem;
    }
    #aboutPicture {
        width: 35%;
    }

    .projectCard {
        width: 34vh;
        height: 21vh;
    }

    .contactLinkDiv {
        width: 80%;
        height: 5.5vh;
    }
    #contactLeftDiv {
        height: 60%;
    }
    #contactRightDiv {
        height: 40%;
    }
    #contactMessageInput {
        height: 75px;
    }
    #contactFormDiv {
        width: 90%;
    }
}

@media only screen and (min-width: 480px) {
    #homeTitleText {
        font-size: 4.5rem;
    }
    #homeTitleDiv {
        height: 45%;
    }
    #homeSubInfo {
        font-size: 1.3rem;
    }

    #aboutLeftInfoDiv p {
        font-size: 0.8rem;
    }
    #aboutPicture {
        width: 160px;
    }

    .projectCard {
        width: 42vh;
        height: 27vh;
    }

    .contactLinkDiv {
        width: 60%;
        height: 6.5vh;
    }
    #contactLeftDiv {
        height: 60%;
    }
    #contactRightDiv {
        height: 40%;
    }
    #contactMessageInput {
        height: 75px;
    }
    #contactFormDiv {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    #homeTitleText {
        font-size: 5rem;
    }
    #homeTitleDiv {
        height: 40%;
    }
    #homeSubInfo {
        font-size: 1.4rem;
    }

    #aboutLeftInfoDiv p {
        font-size: 0.9rem;
    }
    #aboutPicture {
        width: 75%;
    }

    .projectCard {
        width: 46vh;
        height: 31vh;
    }

    .contactLinkDiv {
        width: 75%;
        height: 7.5vh;
    }
    #contactLeftDiv {
        height: 100%;
    }
    #contactRightDiv {
        height: 100%;
    }
    #contactMessageInput {
        height: 350px;
    }
    #contactFormDiv {
        width: 100%;
    }
}

@media only screen and (min-width: 1250px) {
    #homeTitleText {
        font-size: 5.5rem;
    }
    #homeTitleDiv {
        height: 35%;
    }
    #homeSubInfo {
        font-size: 1.5rem;
    }

    #aboutLeftInfoDiv p {
        font-size: 1rem;
    }
    #aboutPicture {
        width: 75%;
    }

    .projectCard {
        width: 50vh;
        height: 35vh;
    }

    .contactLinkDiv {
        width: 75%;
        height: 7.5vh;
    }
    #contactLeftDiv {
        height: 100%;
    }
    #contactRightDiv {
        height: 100%;
    }
    #contactMessageInput {
        height: 350px;
    }
    #contactFormDiv {
        width: 100%;
    }
}