html{
    scroll-behavior: auto !important;
    padding: 0;
    margin: 0;
}

body{
    /* overflow: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 #sideNavBar
 {
    width: 50px;
 }

 .navItem{
    text-decoration: none;
    color: black;
 }

 .contentPage{
    color:black;
 }

 .navItem:hover
 {
    background-color: grey !important;
    cursor: pointer;
 }

 .transitionBlock
 {
    background-color:black;
 }

#navRocket{
    width: 25px;
    height: 50px;
    position: absolute;
    background-color: darkmagenta;
    /* background-image: url(Images/rocket1.png); */
    background-size: cover;
    transform: translate(-50%, -50%);
    top: 0%;
    left: 50%;
    margin-left:auto;
    margin-right:auto;
}

#contentRocket{

}